.example-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* Set height to auto to accommodate content */
  margin-top: 50px; /* Adjust margin-top as needed */
  overflow: auto; /* Add overflow to enable scrolling if necessary */
}

.example-container {
  display: flex;
  flex-wrap: wrap; /* Allow containers to wrap if necessary */
  justify-content: space-around; /* Center containers horizontally */
  max-width: 90%; /* Set maximum width to ensure responsiveness */
  margin-top: 20px; /* Adjust margin-top as needed */
}

/* Rest of your styles... */

  
  
  .example-list, .example-column {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    min-width: 250px;
    flex: 1; /* Distribue l'espace de manière égale entre les colonnes */
    margin-right: 10px;
  }
  
  .example-box {
    padding: 15px 20px; /* Increased horizontal padding for better spacing */
    border-radius: 8px; /* Increased border radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    background-color: #ffffff; /* Set background color to white */
    transition: box-shadow 0.3s ease; /* Smooth transition for box shadow */
    font-size: 16px;
    width: 100%; /* Ensure cards take up full width */
    margin-bottom: 20px; /* Increase margin between cards */
    padding: 10px; /* Réduire le padding pour les éléments */
    margin-bottom: 10px;
  }
  
  .example-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  }
  
  .example-box:last-child {
    margin-bottom: 0; /* Remove bottom margin for the last card */
  }
  .task-description {
    word-wrap: break-word; /* Permet le saut de ligne pour les mots longs */
  }
  
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
/* Styles for the button container */
.button-container {
  margin-top: 100px; /* Adjust the margin as needed */
  margin-left: 950px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

/* Styles for the button */
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.importStyle {

  border-radius: 10px;
    width: 200px;
    border: solid 0.5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.container {
  width: 100%;
  height: 100%;
}

.jiraButton{
margin-bottom: 10px;
}

.buttonStyle {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  color: #47b2e4;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #47b2e4;
  margin-bottom: 10px;
  font-size: 11px;
}

.iconStyle{
  margin-left:80px;
  cursor: pointer;
  width: 100%;
}

.fileStyle{
width: 15%;
margin-right: 10px;
}
.statsbutton {
  width: 30px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  cursor: pointer; /* Show pointer cursor on hover */
}

/* Styles for the statistics content */
.statsContent {
  margin-top: 10px; /* Adjust margin as needed */
}